.header{
    width: 100%;
    height: auto;
    padding: 26px;
    background: #F5F3F0;
}
.container{
    width: 1024px;
    height: auto;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
}
.main .container{
    margin-top: 60px;
}
.header .container{
    padding: 179px 165px 171px 165px;
}
.content{
    margin: 0 auto;
    margin-left: 30px;
}
h3{
    font-size: 18px;
    color: #9E8C6C;
}
.content h2{
    font-size: 126px;
    margin-top: -20px;
    margin-bottom: 15px;
}
.btn{
    text-decoration: none;

}
.content .btn{
    background-color: #0699A6;
    padding: 16px 42px;
    color: #ffff;
}
.content .btn:hover{
    background-color: #ffff;
    border: 1.5px solid #0699A6;
    color: #0699A6;
    font-weight: 300;
}
.main{
    max-width: 100%;
    height: auto;
}
.left-colum{
    width: 350px;
    display: grid;
}
.career li{
margin: 32px 0 auto;
}
ul{
    padding-inline-start:0
}
li{
    list-style-type: none;
}
.box-colum-L{
    margin-top: 32px;
}
.box-colum-L .btn{
    color: #0699A6;
}
.box-colum-L .btn:hover{
    background-color: #0699A6;
    color: #ffff;
}
.box-colum-R{
    width: 635px;
}
.border{
    width: 60px;
    height: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #0699A6;
    align-self: flex-start;
}
.title-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -22px;
}
.footer{
    max-width: 100%;
    height: auto;
    padding: 26px;
    background: #F5F3F0;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}
.foot-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.foot-content h2{
    font-size: 66px;
}
.foot-content .btn{
    color: #0699A6;
    margin: 0 auto;
    font-size: 36px;
}
.foot-content .btn:hover{
    background-color: #0699A6;
    color: #ffff;
}
.footer .container{
    flex-direction: column;
    margin: 0 auto;
}
.foot-icon{
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 16px;
}
.foot-icon .btn{
    margin: 16px;
}
@media screen and (max-width:1023px){
    .header{
        align-items: center;
        text-align: center;
        margin: 0 auto;
        align-content: center;
        width: 100%;
    }
    .header .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .container{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .content h3{
        font-size: 14px;
    }
    .content h2{
        font-size: 56px;
    }
    .content .btn{
        font-size: 18px;
    }
    .left-colum{
        width: 100%;
        
    }
    .rigth-colum{
        justify-content: center;
    }
    .box-colum-L{
        width: 100%;
        justify-content: space-between;
    }
    .box-colum-R{
        width: 100%;
    }
    .title-data{
        display: flex;
        flex-direction: column;
    }

}