:Root{
    /* --- colors --- */
    --color-style:#0699A6;
    --background-div:#F5F3F0;
    --title-color: #0699A6;
    --backgroud-main: #333;
    --ligth-color: #fff;
    --text-color: #bdbdbd;

    
}
body{
    background-color: var(--backgroud-main);
    color: var(--text-color);
}
.header{
    width: 100%;
    height: auto;
    padding: 26px;
    background: var(--color-style);
}
.container{
    width: 1024px;
    height: auto;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
}
.main .container{
    margin-top: 60px;
}
.header .container{
}
.content{
    margin: 0 auto;
    margin-left: 30px;
}
h2{
    color: var(--ligth-color);
}
h3{
    font-size: 18px;
    color: var(--title-color);
}
.content h3{
    font-size: 18px;
    color: var(--ligth-color);
}
.content h2{
    font-size: 126px;
    margin-top: -20px;
    margin-bottom: 15px;
    color: var(--backgroud-main);
}
.btn{
    text-decoration: none;

}
.content .btn{
    background-color: var(--ligth-color);
    padding: 16px 42px;
    color: var(--backgroud-main);
}
.content .btn:hover{
    background-color: var(--backgroud-main);
    border: 1.5px solid var(--color-style);
    color: var(--title-color);
    font-weight: 300;
}
.main{
    max-width: 100%;
    height: auto;
}
.left-colum{
    width: 350px;
    display: grid;
}
.career li{
    margin: 32px 0 auto;
}
ul{
    padding-inline-start:0
}
li{
    list-style-type: none;
}
.box-colum-L{
    margin-top: 32px;
}
.box-colum-L .btn{
    color: var(--ligth-color);
}
.box-colum-L .btn:hover{
    background-color: var(--text-color);
    color: var(--ligth-color);
}
.box-colum-R{
    width: 635px;
}
.border{
    width: 60px;
    height: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--title-color);
    align-self: flex-start;
}
.title-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -22px;
    color: var(--color-style);
}
.footer{
    max-width: 100%;
    height: auto;
    padding: 26px;
    background: var(--color-style);
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}
.foot-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.foot-content h2{
    font-size: 66px;
    color: var(--backgroud-main);
}
.foot-content .btn{
    color: var(--backgroud-main);
    margin: 0 auto;
    font-size: 36px;
}
.foot-content .btn:hover{
    color: var(--ligth-color);
}
.footer .container{
    flex-direction: column;
    margin: 0 auto;
}
.foot-icon{
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 16px;
}
.foot-icon .btn{
    margin: 16px;
}
.btn1{
    background-image: url(../img/icons-black/facebook.png);
}
.btn1:hover{
    background-image: url(../img/icons-white/facebook\ \(1\).png);
}
.btn2{
    background-image: url(../img/icons-black/instagram.png);
}
.btn2:hover{
    background-image: url(../img/icons-white/instagram\ \(1\).png);
}
.btn3{
    background-image: url(../img/icons-black/linkedin.png);
}
.btn3:hover{
    background-image: url(../img/icons-white/linkedin\ \(1\).png);
}
.btn4{
    background-image: url(../img/icons-black/Icons.png);
}
.btn4:hover{
    background-image: url(../img/icons-white/Icons\ \(1\).png);
}
@media screen and (max-width:1023px){
    .header{
        align-items: center;
        text-align: center;
        margin: 0 auto;
        align-content: center;
        width: 100%;
    }
    .header .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .container{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .img-profile{
        width: 160px;
        height: 160px;
        align-self: center;
    }
    .content h3{
        font-size: 14px;
    }
    .content h2{
        font-size: 56px;
    }
    .content .btn{
        font-size: 18px;
    }
    .left-colum{
        width: 100%;
        align-self: center;
    }
    .rigth-colum{
        justify-content: center;
    }
    .box-colum-L{
        width: 100%;
        justify-content: space-between;
    }
    .box-colum-R{
        width: 100%;
    }
    .title-data{
        display: flex;
        flex-direction: column;
    }
    .foot-content{
        font-size: 20px;
    }

}